.bg {
  background-color: #c8c9cc;
}

.asideu {
  margin-left: 15%;
  background-color: white;
}

.mainbox {
  height: 100%;
  border-top: 5px solid var(--el-border-color);
  border-bottom: 5px solid var(--el-border-color);
}

.titleu {
  margin-left: 5%;
  font-size: x-large;
}

.empty {
  height: 20%;
  width: 20%;
  margin-left: 38%;
  margin-bottom: 10%;
}